/* ####tamanho da logo######### */
[alt=Logo] {
    height: 4rem;
}

/*#####tirar os botoes da lateral######*/
.stDeployButton > button,
#MainMenu,
.st-emotion-cache-14x9thb > button,
.st-emotion-cache-4z1n4l > img,
.st-emotion-cache-4z1n4l > label {
    visibility: hidden;
}

/*####alterar cor do background da barra lateral######*/
.st-emotion-cache-1itdyc2 {
    background: linear-gradient(90deg, #1c1c1c 85.94%, rgba(28, 28, 28, 0) 100%) !important;
}
.st-emotion-cache-h4xjwg {
    background: #262626 !important;
}
.st-emotion-cache-1dp5vir {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0.125rem;
    background-image: linear-gradient(90deg, #212121, #FF902A, #212121);
    z-index: 999990;
}

/*########## Botões ##########*/
/* .row-widget.stDownloadButton button,
.st-emotion-cache-17ow6m6:focus:not(:active) {
    color: #FF902A;
    background-color: transparent;
    border-color: #ff912a4f;
} */

.st-emotion-cache-j7qwjs { /*tamanho da caixa de seleção*/
    display: flex !important;
    flex-direction: unset !important;
}

.st-cf, .st-d1 {
    width: 80% !important;
}
.st-emotion-cache-t2bj6i {
    width: 87% !important;
}

/* .st-d1 {
    background-color: #262626;
    border-color: #ff912a4f;
} */


/* ##### Background da página ####### */
.st-emotion-cache-13k62yr {
    position: absolute;
    background: #262626;
    color: #fff;
    inset: 0;
    color-scheme: dark;
    overflow: hidden;
}

/*##### Gráficos ####*/
.st-emotion-cache-ocqkz7 .main-svg,
.st-emotion-cache-9aoz2h .main-svg {
    background: #a1a1a121;
    border-radius: 1.5rem;
}
.st-emotion-cache-ocqkz7 .main-svg .gtitle {
    fill: white !important;
}
.st-emotion-cache-ocqkz7 .main-svg .plot .trace.bars .points path {
    fill: #F11965 !important;
}
.st-emotion-cache-ocqkz7 .main-svg .cartesianlayer .plot .lines path {
    stroke: #F11965 !important;
}
.st-emotion-cache-9aoz2h .main-svg .plot .trace.bars .points path {
    fill: #F11965 !important;
}